@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00E676;
  --bg-color: #121212;
  --surface-color: #1E1E1E;
}

body {
  background-color: var(--bg-color);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}
